/*Yasmin Braz de Abreu Silva RA: 236632*/

body {
    background-color: lightgray;
}

.conteudo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.container {
    height: 60vh;
    width: 50%;
    max-width: 400px;
    background-color: rgb(125, 125, 241);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius: 40px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login {
    width: 90%;
}

.login label {
    display: block;
}

.login input {
    width: 90%;
    padding: 5px;
}

.botao {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 20%;
}

button {
    width: 20%;
}